html,body 
{
	margin:0;
	padding:0;
}

/********** Leaflet Customizations for **********/

/* CONTROLS */

.leaflet-left.leaflet-top .leaflet-control,
.leaflet-touch .leaflet-left .leaflet-control {
    font-size: 1.5em;
	margin-left: 0px;
	margin-top: 10px;
	margin-bottom: 0;
}
.leaflet-left.leaflet-bottom .leaflet-control {
	margin-left: 8px;
	margin-bottom: 8px;
	margin-top: 0;
}

/* ZOOM */
.leaflet-control-zoom a,
.leaflet-touch .leaflet-control-zoom a,
.leaflet-bar a,
.leaflet-touch .leaflet-bar a {
	background-color: rgba(255, 255, 255, 0.8);	
	width: 32px;
	height: 28px;
}
.leaflet-touch .leaflet-control-zoom-out {
	line-height: 24px;	
}
.leaflet-control-zoom a:hover,
.leaflet-touch .leaflet-control-zoom a:hover,
.leaflet-bar a:hover,
.leaflet-touch .leaflet-bar a:hover {
	background-color: #fff;
	width: 32px;
	height: 28px;	
}

/* ATTRIBUTION*/
.leaflet-control.leaflet-control-attribution {
	border:none;
	padding:0 4px 2px 4px;
	margin:0 -4px -4px 0;
}

